<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>cloth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group value="biff">

      <ion-list-header>
        <ion-label>HeadWear</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>None</ion-label>

        <ion-radio slot="start" value="biff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Snake</ion-label>
        <img src="../assets/imgs/snack.png">
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Crown</ion-label>
        <img src="../assets/imgs/crown.png">
        <ion-radio slot="start" value="uford"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Flower</ion-label>
        <img src="../assets/imgs/flower.png">
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
