<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Cloth</h2>
<ion-item>
  <ion-thumbnail slot="end">
    <img src="../assets/imgs/crown.png">
  </ion-thumbnail>
  <ion-label  class="header"color="main">Crown</ion-label>
  <p color="medium">100</p>
    <ion-icon name="server-outline" color="medium"></ion-icon>
</ion-item>
  <ion-item>
    <ion-thumbnail slot="end">
      <img src="../assets/imgs/flower.png">
    </ion-thumbnail>
      <ion-label class="header" color="main" >Flower</ion-label>
      <p color="medium">50</p>
    <ion-icon name="server-outline" color="medium"></ion-icon>
  </ion-item>

    <ion-item>
      <ion-thumbnail slot="end">
        <img src="../assets/imgs/snack.png">
      </ion-thumbnail>
      <ion-label color="main">Snake</ion-label>
      <p color="medium">25</p>
    <ion-icon name="server-outline" color="medium"></ion-icon>
    </ion-item>
<br>
    <h2>Food</h2>

    <ion-item>
  <ion-thumbnail slot="end">
    <img src="../assets/imgs/corn.png">
  </ion-thumbnail>
  <ion-label  color="main">Corn</ion-label>
  <p color="medium">2</p>
  <ion-icon name="server-outline" color="medium"></ion-icon>
</ion-item>

<ion-item>
  <ion-thumbnail slot="end">
    <img src="../assets/imgs/bubble tea.png">
  </ion-thumbnail>
  <ion-label  color="main">Bubble Milk Tea</ion-label>
  <p color="medium">5</p>
  <ion-icon name="server-outline" color="medium"></ion-icon>
</ion-item>

</ion-content>


