ion-title {
  size: "large";
  color:#945a68;
  font-weight: bold;
}


h2{
  margin-left: 10px;
  color:#945a68;
  font-weight: bold;
}

.header ion-label{
  color:#945a68;
  width:100px;
  //margin-left: 50px;
}

.block ion-label{
  margin-right: 0px;
}
// ion-thumbnail{
//   --size: 100px;
//   height:100px;
// }

// ion-thumbnail img{
//   width: 100px;
// }
