<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/imgs/corn.png">
    </ion-thumbnail>
    <ion-label>Corn</ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../assets/imgs/bubble tea.png">
    </ion-thumbnail>
    <ion-label>Bubble Milk Tea</ion-label>
  </ion-item>
</ion-content>
