ion-title {
  size: "large";
  color:#945a68;
  font-weight: bold;
}

ion-label{
  color:#945a68;
  font-style: bold;
}

.log ion-button{
  text-decoration-color: #945a68;
  width:50%;

  margin-left: 25%;
 // margin-top: 90%;
  //display:block;
}

