<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="changehomeIcon()">
      <ion-icon [src]="homeIcon"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" (click)="changemapIcon()">
      <ion-icon [src]="mapIcon"></ion-icon>
      <ion-label class="tab-title">Go</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" (click)="changebackpackIcon()">
      <ion-icon [src]="backpackIcon"></ion-icon>
      <ion-label class="tab-title">Friends</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

