 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Map</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="main">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button size="large" routerLink="/microlesson"><ion-icon size="large" color="main" name="newspaper-outline"></ion-icon></ion-fab-button>
      <ion-fab-button size="large" routerLink="/speech"><ion-icon size="large" color="main" name="school-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content> -->


