<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Friend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/cow03.gif">
      </ion-avatar>
      <ion-label>1083308</ion-label>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/crowncow.gif">
      </ion-avatar>
      <ion-label>1083331</ion-label>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/snakecow.gif">
      </ion-avatar>
      <ion-label>1083522</ion-label>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/snakecow.gif">
      </ion-avatar>
      <ion-label>1081421</ion-label>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/flowercow.gif">
      </ion-avatar>
      <ion-label>1081234</ion-label>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <ion-avatar slot="start">
        <img src="../assets/imgs/crowncow.gif">
      </ion-avatar>
      <ion-label>1083329</ion-label>
    </ion-item>
  </div>
</ion-content>


<!--
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button  (click) = "presentActionSheet()">Larry</ion-button>
    <br>
    <ion-button  (click) = "presentActionSheet()">Isadora</ion-button>
    <br>
    <ion-button  (click) = "presentActionSheet()">Daniel</ion-button>
    <br>
    <ion-button  (click) = "presentActionSheet()">David</ion-button>
    <br>
    <ion-button  (click) = "presentActionSheet()">Fish</ion-button>
    <br>
    <ion-button  (click) = "presentActionSheet()">Jerry</ion-button>
    <br>
  </div>
</ion-content> -->
  <!-- List of Text Items -->
