<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="arrow-back-outline" defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Speech</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item (click) = "presentActionSheet()">
      <div>
        <ion-label>2021年金融科技新知與財富實務講座</ion-label>
        <ion-label color="medium">5/22 08:10開始 R3208</ion-label>
      </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">
      <div>
      <ion-label>篆刻藝術與文化產業</ion-label>
      <ion-label color="medium">5/11 14:20開始 2011</ion-label>
      </div>
    </ion-item>

    <ion-item (click) = "presentActionSheet()">
      <div>
        <ion-label>5G AI與資料經濟講座</ion-label>
        <ion-label color="medium">5/17 14:10開始 1401B</ion-label>
        </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>我在做繪本時所想的事</ion-label>
        <ion-label color="medium">5/12 10:10開始 3302</ion-label>
        </div>
    </ion-item>
    <!-- <ion-item (click) = "presentActionSheet()"> -->
<!--
      <div>
        <ion-label>基礎玻璃噴砂工藝</ion-label>
        <ion-label color="medium">5/15 13:00~17:00 元智大學R3104</ion-label>
        </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>日本茶道文化之二——立禮茶道</ion-label>
        <ion-label color="medium">5/15 13:00~17:00 元智大學R3310</ion-label>
        </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>無人機體驗</ion-label>
        <ion-label color="medium">5/15 13:00~17:00 元智大學R70108</ion-label>
        </div>
    </ion-item> <br>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>敘事力講座（四） AI時代裡的佛法精神：兼談電影藝術與人文思想</ion-label>
        <ion-label color="medium">5/12 12:00~14:00 元智大學天河書屋</ion-label>
        </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>天河講堂經典系列講座（六）今晚我想來點……：《金瓶梅》的食色饗宴</ion-label>
        <ion-label color="medium">5/13 18:30~20:30 元智大學天河書屋</ion-label>
        </div>
    </ion-item>
    <ion-item (click) = "presentActionSheet()">

      <div>
        <ion-label>傳統與現代的角力：桃園市街發展軌跡</ion-label>
        <ion-label color="medium">6/4 13:00~15:00 元智大學R5706</ion-label>
        </div>
    </ion-item>-->
  </div>
</ion-content>


