ion-title {
  size: "large";
  color:#945a68;
  font-weight: bold;
}

ion-label{
  color:#945a68;
  font-style: bold;
}
ion-item{
  color: #945a68;
}
h2{
  margin-left: 10px;
  color:#945a68;
  font-weight: bold;
}
